@using System.Security.Claims
@model MyWebtoonWebProject.Web.ViewModels.Reviews.ApplicationUserReviewsViewModel
@{
    ViewBag.Title = this.User.FindFirstValue(ClaimTypes.Name) + "'s Reviews";
}

<ul class="list-md-group">
    @foreach (var review in Model.Reviews)
    {
        <li class="list-group-item">
            <img src="~/Webtoons/@review.CoverPhoto" width="480px" height="240px" class="offset-6">
            <div class="d-md-inline-flex">
            <a asp-controller="Webtoons" asp-action="GetWebtoon" asp-route-TitleNumber="@review.WebtoonTitleNumber">@review.WebtoonTitle</a>
            <p><i class="fas fa-calendar"></i> Created on: @review.CreatedOn.ToString("dd-MM-yyyy")</p>
            <p>@review.ReviewInfo</p>
            <p><i class="fas fa-thumbs-up"></i> Likes: @review.Likes</p>
            <p><i class="fas fa-thumbs-down"></i> Dislikes: @review.Dislikes</p>
            </div>
        </li>
    }
</ul>