@using System.Security.Claims
@model MyWebtoonWebProject.Web.ViewModels.Reviews.ApplicationUserReviewsViewModel
@{
    ViewBag.Title = this.User.FindFirstValue(ClaimTypes.Name) + "'s Reviews";
}

<link href="~/css/ApplicationUsers/getUserReviews.css" rel="stylesheet" asp-append-version="true"/>

<div class="container-fluid">
    <ul class="card-deck">
        @foreach (var review in Model.Reviews)
        {
            <li class="card">
                <div class="card-body" id="body">
                    <img class="card-img" src="~/Webtoons/@review.CoverPhoto">
                    <a class="card-text" id="name" asp-controller="Webtoons" asp-action="GetWebtoon" asp-route-WebtoonTitleNumber="@review.WebtoonTitleNumber">@review.WebtoonTitle</a>
                    <br />
                    <p><i class="fas fa-calendar"></i> Created on: @review.CreatedOn.ToString("dd-MM-yyyy")</p>
                    <button onclick="editReview(@review.ReviewNumber)"><i class="fas fa-edit"></i></button>
                    <br />
                    <input class="card-text container-fluid h-25" value="@review.ReviewInfo" id="#@("editReviewInfo" + review.ReviewNumber)" disabled />
                    <br />
                    <button class="btn btn-outline-primary" onclick="sendEditedReview(@review.ReviewNumber)" style="display : none" id="#@("sendEditButton" + review.ReviewNumber)">Edit</button>
                    <p><i class="fas fa-thumbs-up"></i> Likes: @review.Likes</p>
                    <p><i class="fas fa-thumbs-down"></i> Dislikes: @review.Dislikes</p>
                    @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) == review.ReviewAuthorId)
                    {
                        <button class="btn btn-secondary" onclick="deleteReview(@review.ReviewNumber)">DELETE</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>

<form method="post" id="antiForgeryForm"></form>

<script src="~/js/getUserReviews.js" asp-append-version="true"></script>
