@using System.Security.Claims
@model MyWebtoonWebProject.Web.ViewModels.Webtoons.GetAllWebtoonsViewModel
@{
    ViewBag.Title = this.User.FindFirstValue(ClaimTypes.Name) + "'s Subscribtions";
}

<link href="/css/allwebtoons.css" rel="stylesheet" asp-append-version="true" />

<div class="container-fluid">
<ul class="card-deck">
    @foreach (var webtoon in Model.Webtoons)
    {
        <li class="card">
            <a id="webtoon" asp-controller="Webtoons" asp-action="GetWebtoon" asp-route-WebtoonTitleNumber="@webtoon.TitleNumber">
                <img id="coverPhoto" class="card-img w-100 " src="~/Webtoons/@webtoon.CoverPhoto" />
                <div id="cardInfo">
                    <p id="cardTitle">@webtoon.Title</p>
                    <p id="cardAuthor">@webtoon.Author</p>
                    <p id="cardGenre">@webtoon.Genre</p>
                    <br />
                    <p id="cardLikes"><i class="fas fa-heart"></i> @webtoon.Likes</p>
                </div>
            </a>
        </li>
    }
</ul>
</div>