@using System.Security.Claims
@using MyWebtoonWebProject.Web.ViewModels.Episodes
@model GetEpisodeViewModel
@{
    ViewBag.Title = Model.EpisodeTitle;
}

<div id="body" class="col-md-7 offset-md-2">
    <ul class="list-unstyled">
        @foreach (var pageSrc in Model.PagesPaths)
        {
            <li>
                <img src="~/Webtoons/@Model.WebtoonTitle/@Model.EpisodeTitle/@pageSrc" />
            </li>
        }
    </ul>
    <div class="d-inline-flex">
        @if (Model.HasPreviousEpisode)
        {
            <a class="btn btn-primary offset-4" asp-controller="Episodes" asp-action="GetEpisode" asp-route-WebtoonNumber="@Model.WebtoonTitleNumber" asp-route-EpisodeNumber="@Model.PreviousEpisodeNumber">Previous Episode</a>
        }
        @if (Model.HasNextEpisode)
        {
            <a class="btn btn-primary offset-10" asp-controller="Episodes" asp-action="GetEpisode" asp-route-WebtoonNumber="@Model.WebtoonTitleNumber" asp-route-EpisodeNumber="@Model.NextEpisodeNumber">Next Episode</a>
        }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <button class="btn btn-success offset-md-6" onclick="likeEpisode(@Model.WebtoonTitleNumber,@Model.EpisodeNumber)"><i class="fas fa-heart"></i>Like <span id="episodeLikes">@Model.Likes</span></button>
            <br />
        </div>
        @if (Model.EpisodeAuthorId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <div>
                <a class="btn btn-danger offset-md-6" asp-controller="Episodes" asp-action="DeleteEpisode" asp-route-WebtoonTitleNumber="@Model.WebtoonTitleNumber" asp-route-EpisodeNumber="@Model.EpisodeNumber">DELETE EPISODE</a>
            </div>}
        <textarea class="col-md-7" id="userComment" cols="45" rows="5" maxlength="800" required spellcheck="false" placeholder="Your comment"></textarea>
        <button class="btn btn-secondary" id="commentButton">Submit</button>
    }
    <ul class="list-group col-md-8 offset-2">
        @foreach (var comment in Model.Comments)
        {
            if (comment.ParentId == null)
            {
                <li class="list-group-item">
                    <p><i class="fas fa-user"></i> @comment.CommentAuthorUsername</p>
                    <p>@comment.CommentInfo</p>
                    <p><i class="fas fa-calendar"></i> @comment.CreatedOn.ToString("dd-MM-yyyy")</p>
                    <div class="d-inline-flex">
                        <div>
                            <a href="#" onclick="sendCommentVote(@comment.CommentNumber, true)">
                                <i class="fas fa-thumbs-up"></i>
                                Likes: <p id="@("commentLikes"+ @comment.CommentNumber)">@comment.Likes</p>
                            </a>
                        </div>
                        <div>
                            <a href="#" onclick="sendCommentVote(@comment.CommentNumber, false)">
                                <i class="fas fa-thumbs-down"></i>
                                Dislikes: <p id="@("commentDislikes"+ @comment.CommentNumber)">@comment.Dislikes</p>
                            </a>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) == comment.CommentAuthorId)
                        {
                            <button class="btn btn-secondary" onclick="deleteComment(@comment.CommentNumber)">DELETE</button>
                        }
                        <div>
                            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#@("commentReplies" + comment.CommentNumber)" aria-expanded="false" aria-controls="collapseExample">
                                Replies @comment.CommentReplies.Count
                            </button>
                            <div class="col-md-8 collapse" id="@("commentReplies" +comment.CommentNumber)">
                                <ul class="list-group">
                                    @foreach (var reply in comment.CommentReplies)
                                    {
                                        <li class="list-group-item">
                                            <p><i class="fas fa-user"></i> @reply.CommentAuthorUsername</p>
                                            <p>@reply.CommentInfo</p>
                                            <p><i class="fas fa-calendar"></i> @reply.CreatedOn.ToString("dd-MM-yyyy")</p>
                                            @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) == reply.CommentAuthorId)
                                            {
                                                <button class="btn btn-secondary" onclick="deleteComment(@reply.CommentNumber)">DELETE</button>
                                            }
                                            <div class="d-inline-flex">
                                                <div>
                                                    <a href="#" onclick="sendReplyVote(@reply.CommentNumber, true)">
                                                        <i class="fas fa-thumbs-up"></i>
                                                        Likes: <p id="@("replyLikes"+ reply.CommentNumber)">@comment.Likes</p>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#" onclick="sendReplyVote(@reply.CommentNumber, false)">
                                                        <i class="fas fa-thumbs-down"></i>
                                                        Dislikes: <p id="@("replyDislikes"+ reply.CommentNumber)">@comment.Dislikes</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <textarea id="commentReply" cols="30" rows="5" maxlength="800" required spellcheck="false"></textarea>
                                <input type="hidden" id="replyParentId" value="@comment.Id">
                                <button class="btn btn-outline-primary" id="replyButton">Reply</button>
                            </div>
                        </div>
                    }
                </li>
            }
        }
    </ul>

</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts{
    <script>
        function deleteComment(commentNumber) {
            var webtoonTitleNumber = @Model.WebtoonTitleNumber;
            var episodeNumber = @Model.EpisodeNumber;
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { commentNumber: commentNumber.toString(), webtoonTitleNumber: webtoonTitleNumber.toString(), episodeNumber: episodeNumber.toString() }
            $.ajax({
                type: "DELETE",
                url: "/api/Comments",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    location.reload();
                },
                contentType: 'application/json',
            });
        };

        function sendReplyVote(commentNumber, isUpvote) {
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { commentNumber: commentNumber.toString(), isUpvote: isUpvote }
            $.ajax({
                type: "POST",
                url: "/api/CommentsVotes",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    var replyLikes = "replyLikes" + data.commentNumber.toString();
                    var replyDislikes = "replyDislikes" + data.commentNumber.toString();
                    $(`#${replyLikes}`).html(data.likes);
                    $(`#${replyDislikes}`).html(data.dislikes);
                },
                contentType: 'application/json',
            });
        };

        function sendCommentVote(commentNumber, isUpvote) {
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { commentNumber: commentNumber.toString(), isUpvote: isUpvote }
            $.ajax({
                type: "POST",
                url: "/api/CommentsVotes",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    var commentLikes = "commentLikes" + data.commentNumber.toString();
                    var commentDislikes = "commentDislikes" + data.commentNumber.toString();
                    $(`#${commentLikes}`).html(data.likes);
                    $(`#${commentDislikes}`).html(data.dislikes);
                },
                contentType: 'application/json',
            });
        };

        $("#replyButton").click(function () {
            var userReply = $("#commentReply").val();
            var webtoonTitleNumber = @Model.WebtoonTitleNumber;
            var episodeNumber = @Model.EpisodeNumber;
            var parentId = $("#replyParentId").val();
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { webtoonTitleNumber: webtoonTitleNumber.toString(), episodeNumber: episodeNumber.toString(), userComment: userReply, parentId: parentId }
            $.ajax({
                type: "POST",
                url: "/api/Comments",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    location.reload();
                },
                contentType: 'application/json',
            });
        });

        $("#commentButton").click(function () {
            var userInput = $("#userComment").val();
            var webtoonTitleNumber = @Model.WebtoonTitleNumber;
            var episodeNumber = @Model.EpisodeNumber;
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { webtoonTitleNumber: webtoonTitleNumber.toString(), episodeNumber: episodeNumber.toString(), userComment: userInput, parentId: null}
            $.ajax({
                type: "POST",
                url: "/api/Comments",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    location.reload();
                },
                contentType: 'application/json',
            });
        });

        function likeEpisode(webtoonTitleNumber,episodeNumber) {
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { webtoonTitleNumber: webtoonTitleNumber.toString(), episodeNumber: episodeNumber.toString() }
            $.ajax({
                type: "POST",
                url: "/api/EpisodesLikes",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    $('#episodeLikes').html(data);
                },
                contentType: "application/json",
            });
        };
    </script>
}
