@using System.Security.Claims
@using MyWebtoonWebProject.Web.ViewModels.Episodes
@model GetEpisodeViewModel
@{
    ViewBag.Title = Model.EpisodeTitle;
}

<div id="body" class="col-md-8 offset-md-2">
    <ul class="list-unstyled">
        @foreach (var pageSrc in Model.PagesPaths)
        {
            <li>
                <img src="~/Webtoons/@Model.WebtoonTitle/@Model.EpisodeTitle/@pageSrc" />
            </li>
        }
    </ul>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="o">
            <button class="btn btn-success offset-md-6" onclick="likeEpisode(@Model.WebtoonTitleNumber,@Model.EpisodeNumber)"><i class="fas fa-heart"></i>Like <span id="episodeLikes">@Model.Likes</span></button>
            <br />
        </div>
        <textarea class="col-md-7" id="userComment" cols="45" rows="5" maxlength="800" required spellcheck="false" placeholder="Your comment"></textarea>
        <button class="btn btn-secondary" id="commentButton">Submit</button>
    }
    <ul class="list-group col-md-8">
        @foreach (var comment in Model.Comments)
        {
            if (comment.ParentId == null)
            {
                <li class="list-group-item">
                    <p><i class="fas fa-user"></i> @comment.CommentAuthorId</p>
                    <p>@comment.CommentInfo</p>
                    <p><i class="fas fa-calendar"></i> @comment.CreatedOn.ToString("dd-MM-yyyy")</p>
                    <div class="d-inline-flex">
                        <div>
                            <a href="#" onclick="sendCommentVote(@comment.CommentNumber, true)">
                                <i class="fas fa-thumbs-up"></i>
                                Likes: <p id="commentLikes">@*@comment.Likes*@</p>
                            </a>
                        </div>
                        <div>
                            <a href="#" onclick="sendCommentVote(@comment.CommentNumber, false)">
                                <i class="fas fa-thumbs-down"></i>
                                Dislikes: <p id="commentDislikes">@*@comment.Dislikes*@</p>
                            </a>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) == comment.CommentAuthorId)
                        {
                            <button class="btn btn-secondary" onclick="deleteComment(@comment.CommentNumber)">DELETE</button>
                        }
                        <div>
                            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#commentReplies" aria-expanded="false" aria-controls="collapseExample">
                                Replies @comment.Comments.Count
                            </button>
                            <ul class="list-group col-md-8 collapse" id="commentReplies">
                                @foreach (var reply in comment.Comments)
                                {
                                    <li class="list-group-item">
                                        <p><i class="fas fa-user"></i> @reply.CommentAuthorId</p>
                                        <p>@reply.CommentInfo</p>
                                        <p><i class="fas fa-calendar"></i> @reply.CreatedOn.ToString("dd-MM-yyyy")</p>
                                        @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) == reply.CommentAuthorId)
                                        {
                                            <button class="btn btn-secondary" onclick="deleteComment(@reply.CommentNumber)">DELETE</button>
                                        }
                                    </li>
                                }
                            </ul>
                            <textarea id="commentReply" cols="30" rows="5" maxlength="800" required spellcheck="false"></textarea>
                            <input type="hidden" id="replyParentId" value="@comment.Id">
                            <button class="btn btn-outline-primary" id="replyButton">Reply</button>
                        </div>
                    }
                </li>
            }
        }
    </ul>

</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts{
    <script>
        function deleteComment(commentNumber) {
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { commentNumber: commentNumber.toString() }
            $.ajax({
                type: "DELETE",
                url: "/api/Comments",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                   //TODO: REDIRECT TO SAME PAGE
                },
                contentType: 'application/json',
            });
        };

        function sendCommentVote(commentNumber, isUpvote) {
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { commentNumber: commentNumber.toString(), isUpvote: isUpvote }
            $.ajax({
                type: "POST",
                url: "/api/CommentsVotes",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    console.log(data);
                    //$('#reviewLikes').html(data.likes);
                    //$('#reviewDislikes').html(data.dislikes);
                },
                contentType: 'application/json',
            });
        };

        $("#replyButton").click(function () {
            var userReply = $("#commentReply").val();
            var webtoonTitleNumber = @Model.WebtoonTitleNumber;
            var episodeNumber = @Model.EpisodeNumber;
            var parentId = $("#replyParentId").val();
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { webtoonTitleNumber: webtoonTitleNumber.toString(), episodeNumber: episodeNumber.toString(), userComment: userReply, parentId: parentId }
            $.ajax({
                type: "POST",
                url: "/api/Comments",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    //console.log("succsess");
                },
                contentType: 'application/json',
            });
        });

        $("#commentButton").click(function () {
            var userInput = $("#userComment").val();
            var webtoonTitleNumber = @Model.WebtoonTitleNumber;
            var episodeNumber = @Model.EpisodeNumber;
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { webtoonTitleNumber: webtoonTitleNumber.toString(), episodeNumber: episodeNumber.toString(), userComment: userInput, parentId: null}
            $.ajax({
                type: "POST",
                url: "/api/Comments",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    console.log("succsess");
                },
                contentType: 'application/json',
            });
        });

        function likeEpisode(webtoonTitleNumber,episodeNumber) {
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { webtoonTitleNumber: webtoonTitleNumber.toString(), episodeNumber: episodeNumber.toString() }
            $.ajax({
                type: "POST",
                url: "/api/EpisodesLikes",
                data: JSON.stringify(data),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken
                },
                success: function (data) {
                    $('#episodeLikes').html(data);
                },
                contentType: "application/json",
            });
        };
    </script>
}
