@using MyWebtoonWebProject.Web.ViewModels.Webtoons;
@model GetAllWebtoonsViewModel;
@{
    ViewBag.Title = "Webtoons";
}

<ul class="list-unstyled">
    @foreach (var webtoon in Model.Webtoons)
    {
        <li>
            <a asp-controller="Webtoons" asp-action="GetWebtoon" asp-route-id="@webtoon.Id" style="position: relative;">
                <img src="~/Webtoons/@webtoon.CoverPhoto" alt="" width="210px" height="210px" />
                <div style="position: absolute;top: 14px;left: 18px;width: 157px;height: 178px" >
                    <p>@webtoon.Title</p>
                    <p>@webtoon.Author</p>
                    <p>@webtoon.Genre</p>
                    <p>@webtoon.Likes</p>
                </div>
            </a>
        </li>
    }

</ul>



