@using MyWebtoonWebProject.Web.ViewModels.Webtoons
@model GetAllWebtoonsViewModel
@{
    ViewBag.Title = "Webtoons";
}

    <link rel="stylesheet" type="text/css" href="/css/allwebtoons.css"  asp-append-version="true"/>

<div class="card-deck" id="webtoons">
    @foreach (var webtoon in Model.Webtoons)
    {
        <div class="card-body">
            <a id="webtoon" asp-controller="Webtoons" asp-action="GetWebtoon" asp-route-WebtoonTitleNumber="@webtoon.TitleNumber">
                <img id="coverPhoto" src="~/Webtoons/@webtoon.CoverPhoto" />
                <div id="cardInfo" style="position: absolute;top: 14px;left: 18px;width: 157px;height: 178px" >
                    <p id="cardTitle">@webtoon.Title</p>
                    <p id="cardAuthor">@webtoon.Author</p>
                    <p id="cardGenre">@webtoon.Genre</p>
                    <br />
                    <p id="cardLikes"><i class="fas fa-heart"></i> @webtoon.Likes</p>
                </div>
            </a>
        </div>
    }

</div>



